@tailwind base;
@tailwind components;
@tailwind utilities;
html,
:root {
  height: 100%;
}

input,
textarea {
  outline-color: rgba(35, 131, 226, 0.28);
}

input::selection,
textarea::selection {
  background-color: rgba(35, 131, 226, 0.28);
}

.markdown-wrapper:is(div) {
  display: flex;
  flex-direction: column;
  gap: 6;
}

.markdown-wrapper h1 {
  font-size: 1.986rem;
  font-weight: 700;
}
.markdown-wrapper h2 {
  font-size: 1.488rem;
  font-weight: 700;
}
.markdown-wrapper h3,
.markdown-wrapper h4,
.markdown-wrapper h5 .markdown-wrapper h6 {
  font-size: 1.074rem;
  font-weight: 500;
}

.markdown-wrapper p,
.markdown-wrapper a {
  font-weight: 400;
}
.markdown-wrapper a {
  text-decoration: none;
}

.markdown-wrapper ul,
.markdown-wrapper ol {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.markdown-wrapper li {
  font-weight: 400;
}

.chat-bot table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid hsl(var(--muted));
  border-radius: 1rem;
}

.chat-bot table thead {
  border-bottom: 1px solid hsl(var(--muted));
}

.chat-bot table tbody tr:not(:last-child) {
  border-bottom: 1px solid hsl(var(--muted));
}

.chat-bot table tbody tr,
.chat-bot table thead tr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.chat-bot table tbody tr td,
.chat-bot table thead tr th {
  min-width: 100px;
  padding: 1rem;
}

.chat-bot table tbody tr td:not(:last-child),
.chat-bot table thead tr th:not(:last-child) {
  border-right: 1px solid hsl(var(--muted));
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 13%;

    --primary: 174 26% 50%;
    --primary-hover: 174 26% 55%;
    --primary-foreground: 0 0% 96%;

    --secondary: 0 0% 98%;
    --secondary-foreground: 0 0% 30%;
    --secondary-hover: 0 0% 94%;

    --tertiary-foreground: 0 0% 50%;

    --muted: 240 2% 84%;
    --muted-hover: 240 6% 80%;
    --muted-foreground: 0 0% 60%;

    --error: 0 79% 63%;

    --border: 0 0% 90%;
    --input: 45 13% 94%;
    --label: 0 0% 70%;

    --radius: 0.5rem;
  }
}
