@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
:root {
  height: 100%;
}

input {
  outline-color: rgba(35, 131, 226, 0.28);
}

input::selection {
  background-color: rgba(35, 131, 226, 0.28);
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 201 36% 9%;

    --primary: 174 26% 50%;
    --primary-hover: 174 26% 55%;
    --primary-foreground: 0 0% 96%;

    --secondary: 0 0% 85%;
    --secondary-foreground: 0 0% 60%;

    --accent: 240 2% 84%;
    --accent-hover: 240 6% 80%;
    --accent-foreground: 0 0% 9%;

    --error: 0 79% 63%;

    --border: 0 0% 84%;
    --input: 45 13% 94%;
    --label: 0 0% 75%;

    --radius: 0.5rem;
  }
}
