@tailwind base;
@tailwind components;
@tailwind utilities;

html,
:root {
  height: 100%;
}

input,
textarea {
  outline-color: rgba(35, 131, 226, 0.28);
}

input::selection,
textarea::selection {
  background-color: rgba(35, 131, 226, 0.28);
}

.wrapper a {
  text-decoration: underline;
}

.wrapper a:hover {
  text-decoration: none;
}

:not(pre) > code {
  background-color: hsl(var(--code));
  padding: 0.25rem 0.35rem;
  border-radius: 4px;
  font-size: 0.925rem;
  color: hsl(var(--code-foreground));
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--muted));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground));
  border-radius: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 13%;

    --primary: 174 26% 50%;
    --primary-hover: 174 26% 55%;
    --primary-foreground: 0 0% 96%;

    --secondary: 0 0% 98%;
    --secondary-foreground: 0 0% 30%;
    --secondary-hover: 0 0% 94%;

    --tertiary-foreground: 0 0% 50%;

    --muted: 240 2% 84%;
    --muted-hover: 240 6% 80%;
    --muted-foreground: 0 0% 60%;

    --code: 240 2% 82%;
    --code-foreground: 0 0% 24%;

    --error: 0 79% 65%;

    --border: 0 0% 90%;
    --input: 45 13% 94%;
    --label: 0 0% 70%;

    --radius: 0.5rem;
  }
}
