@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus,
textarea:focus {
  outline: 1px solid #979794;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 4px solid #979794;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #979794 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tiptap:focus-visible {
  outline: none;
}

.tiptap {
  max-width: 100%;
  width: 100%;
  font-size: 1rem;
  letter-spacing: -0.032em;
  white-space: pre;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  color: rgb(55, 53, 47);
  font-weight: 500;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
ul::selection,
li::selection,
ol::selection,
span::selection,
a::selection,
strong::selection {
  background: #c2dcf7;
}

.tiptap h1 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.3;
  margin: 1em 0 0.5em;
}

.tiptap strong {
  font-weight: 600;
}

.tiptap h1:empty::before {
  content: "Title";
  color: rgba(55, 53, 47, 0.15);
}

.tiptap h2 {
  margin: 1.5em 0 0.5em;
  font-size: 1.825rem;
  line-height: 1.3;
}

.tiptap h3 {
  margin: 1.5em 0 0.5em;
  font-size: 1.5rem;
  line-height: 1.3;
}

.tipta h4 {
  margin: 1.5em 0 0.5em;
  font-size: 1.25rem;
  line-height: 1.3;
}

.tiptap p {
  font-weight: 400;
  white-space: unset;
  line-height: 1.75;
}

.tiptap ul {
  width: 100%;
  padding-left: 1em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: disc;
  letter-spacing: -0.032em;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  color: rgb(55, 53, 47);
  font-weight: 400;
  line-height: 1.5;
}

.tiptap li {
  width: 100%;
}
